NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=y9Si6xYPhkUyGXIYYuOS5ccfj/omxsj907Bcg4X4lfB53XhU871f3z5vZpyDhsJ/

GOOGLE_CLIENT_ID=916194918639-2tt9ml53datck9u3orr73kfeletatks5.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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

ADMIN_EMAILS=davidmarkfriday16@gmail.com

DATABASE_URL=postgresql://neondb_owner:npg_UldOI2fgqAC9@ep-steep-shape-atdwuvgn-pooler.c-9.us-east-1.aws.neon.tech/neondb?channel_binding=require&sslmode=require

TWITTERAPI_IO_API_KEY=new1_73476054f71a41988b24a026279e1b5c
TWITTERAPI_IO_BASE_URL=https://twitterapi.io
TWITTERAPI_IO_USER_LOOKUP_PATH=/twitter/user/info